<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diarycalendar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher180"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/networkconfig"
        android:roundIcon="@mipmap/ic_launcher180"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.diarycalendar.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.example.diarycalendar.splash_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.diarycalendar.login_activity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.example.diarycalendar.signup_activity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.example.diarycalendar.SettingActivity"
            android:parentActivityName="com.example.diarycalendar.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".diytocal.AddEventActivity">

        </activity>
        <activity android:name=".diytocal.AddDiaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".diytocal.DiaryMainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".diytocal.EventMainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".diytocal.UpdateDiaryActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".diytocal.UpdateEventActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".DetailDairy"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>